@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Resetting default styling and setting font-family */
*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-height: 100vh;
}


.container .input_select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  gap: 1rem;
  margin: 1rem 0;
}

.selected {
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid #7d4af4;
  border-radius: 1rem;
  font-size: 1rem;
}

.cal_total {
  width: 100%;
  margin: 1rem 0;
  gap: 0.5rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
}

.cal_total input {
  border: none;
}

hr {
  margin-top: 0.25rem;
  height: 1px;
  background-color: red;
  border-top-width: 1px;
}

#history_table {
  display: none;
}

.selected.btn {
  height: 3rem;
  width: 100%;
  background-color: #7d4af4;
  color: #fff;
  padding: 0.5rem 1rem;
  border:  1.5px solid #4200dc;
  border-radius: 1rem;
  font-size: 1.25rem;
}

.selected.btn:hover {
  background-color: #4200dc;
}

/* editpurchase ko file ko ho */
.editpurchase {
  display: flex;
}

.editpurchase input {
  width: 100%;
}

.formsection table tr td input {
  width: 100px;
  height: 20px;
}


#formsection {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-header,
.forms {
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* 11 columns for the headings and inputs */
  gap: 10px;
  align-items: center;
}

.form-header {
  font-weight: bold;
  background-color: #e6e6e6;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}