.style_form {
  max-width: 80%;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.desc_textarea {
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: 1px solid #7d4af4;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.submit_btn {
  grid-column: 1/3;
}

.submit_btn.btn_viewuser {
  grid-column: auto;
}

.three_col {
  grid-column: unset;
}

.submit_btn button {
  padding: 0.5rem 1rem;
}


.submit_btn.padding button {
  padding: 0.5rem 7.75rem;
}