/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetting default styling and setting font-family */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: rgb(216, 216, 216);
    justify-content: center;
    align-items: center;
}

/* Login form styling */
.login_form {
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 40px 30px 80px 30px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 10px 0 40px 0;
    color: #333;
  }

/* Input field styling */
form .input_box {
  margin: 10px 0;
}
form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #DADAF2;
    border-bottom-width: 2.5px;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px; 
    font-weight: 400;
    color: #333;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: all 0.2s ease;
}

form .input_box input:focus {
    border-color: #8b5cf6;
}

form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    position: relative;
}

a {
    text-decoration: none;
    color: #8b5cf6;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* Login button styling */
form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #8b5cf6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:hover {
    background: #6a36e2;
}


/* text of login link styling */
form .text{
  color: #333;
  width: 100%;
  text-align: center;
 }
 