<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Brand</title>
</head>
<body>
    <%- include("./navbar.ejs") %>
    <h1>Add Brand</h1>
    <form id="addbrand">
        <label for="brand_name">Brand Name:</label>
        <input type="text" id="brand_name" name="brand_name" required maxlength="100"><br><br>

        <label for="brand_desc">Brand Description:</label>
        <textarea id="brand_desc" name="brand_desc" maxlength="255"></textarea><br><br>

        <button type="submit">Add Brand</button>
    </form>
</body>
<script src="/addbrand.js"></script>
</html>
