<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
  <link rel="stylesheet" href="/addcategory.css">
</head>
<body>
  <h1>Create New Category</h1>
  <form  id="addcategoryForm">
    <label for="category_name">Category Name:</label>
    <input type="text" id="category_name" name="category_name" required maxlength="100">
    <br><br>
    
    <label for="category_des">Category Description:</label>
    <textarea id="category_des" name="category_des" maxlength="255"></textarea>
    <br><br>

    
    <button type="submit">Add Category</button>
  </form>

 
</body>
<script src="/addcategory.js"></script>
</html> 
