<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Form</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/common2.css">
</head>
<body>
    <%- include("./success.ejs") %>
    <%- include("./errormessage.ejs") %>

    <%- include("./navbar.ejs") %>

    <div class="container">

    <h2 class="create_heading">Customer Form</h2>

    <form id="addcustomerform" class="style_form">

        <!-- Name -->
        <div class="input_field name">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required maxlength="100">
            <span id="err_name"></span>

        </div>

        <!-- Phone -->
        <div class="input_field phone">
            <label for="phone">Phone</label>
            <input type="text" id="phone" name="phone" pattern="\d{10}" maxlength="10" required>
            <span id="err_phone"></span>
        </div>

        <!-- Email -->
        <div class="input_field email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" maxlength="100" required>
            <span id="err_email"></span>
            
        </div>

        <!-- Address -->
        <div class="input_field address">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required maxlength="100">
            
        </div>

        <!-- Pan number -->
        <div class="input_field pan_number">
            <label for="pan">Pan No.</label>
            <input type="number" id="pan" name="pan" required ><br><br>
            <span id="err_pan"></span>
            
        </div>

        <!-- button -->
        <div class="input_field submit_btn three_col">
            <button type="submit">Submit</button>
        </div>

    </form>
</div>

<footer></footer>

</body>
<script src="/addcustomer.js"></script>
</html>
