<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
  <link rel="stylesheet" href="/common.css">
  <link rel="stylesheet" href="/common2.css">
</head>
<body>
  <%- include("./success.ejs") %>
  <%- include("./errormessage.ejs") %>

  <%- include("./navbar.ejs") %>
  <div class="container">

    <h2 class="create_heading">Create New Category</h2>

    <form  id="addcategoryForm" style="width: 100%; text-align: center;">

      <!-- Category Name -->
      <div class="input_field">
        <label class="margin_label" for="category_name">Category Name</label>
        <input type="text" id="category_name" name="category_name" required maxlength="100">
        <span id="err_name"></span>
      </div>
      
      <!-- Category Description -->
      <div class="input_field">
        <label class="margin_label" for="category_des">Category Description</label>
        <textarea class="desc_textarea" id="category_des" name="category_des" maxlength="255"></textarea>
        <span id="err_desc"></span>
      </div>

      
      <!-- Submit Button -->
      <div class="submit_btn excel">
        <button type="submit">Add Category</button>
      </div>

    </form>
  </div>
 
  <footer></footer>
</body>
<script src="/addcategory.js"></script>
</html> 
