<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/dashboard.css">
   
  </head>
  <body>
    <%- include("./navbar.ejs") %>
    <main>
      <div class="card_sections">
        <%if(user.roles == "superadmin"){%>
        <div class="card">
          <div class="card_title">users</div>
          <div class="card_btm">
            <a class="card_logo add" href="/user/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/user/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">company</div>
          <div class="card_btm">
            <a class="card_logo add" href="/company/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/company/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <%}else if(user.roles === "admin"){%>
        <div class="card">
          <div class="card_title">category</div>
          <div class="card_btm">
            <a class="card_logo add" href="/category/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/category/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">brand</div>
          <div class="card_btm">
            <a class="card_logo add" href="/brand/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/brand/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">unit</div>
          <div class="card_btm">
            <a class="card_logo add" href="/unit/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/unit/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">user</div>
          <div class="card_btm">
            <a class="card_logo add" href="/user/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/user/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">customer</div>
          <div class="card_btm">
            <a class="card_logo add" href="/customer/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/customer/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">product</div>
          <div class="card_btm">
            <a class="card_logo add" href="/product/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/product/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">vendor</div>
          <div class="card_btm">
            <a class="card_logo add" href="/vendor/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/vendor/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">purchases</div>
          <div class="card_btm">
            <a class="card_logo add" href="/purchase/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/purchase/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">invoices</div>
          <div class="card_btm">
            <a class="card_logo add" href="/invoice/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/invoice/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <%}else if(user.roles == "normal"){%>
        <div class="card">
          <div class="card_title">invoices</div>
          <div class="card_btm">
            <a class="card_logo add" href="/invoice/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/invoice/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <div class="card">
          <div class="card_title">customer</div>
          <div class="card_btm">
            <a class="card_logo add" href="/customer/add"><i class="fa-solid fa-user-plus"></i></a>
            <a class="card_logo see" href="/customer/view"><i class="fa-solid fa-eye"></i></a>
          </div>
        </div>
        <%}%>
      </div>
    </main>
  </body>
  <script src="/dashboard.js"></script>
</html>
