<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Unit</title>
</head>
<body>
    <h1>Edit Unit</h1>
    <form id="editunit">
        <input type="hidden" name="unit_id" value="<%= data.unit_id %>">
        <label for="unit_name">Unit Name:</label>
        <input type="text" id="unit_name" name="unit_name" value="<%= data.unit_name %>" required>
        <br><br>
        
        <label for="unit_description">Unit short name:</label>
        <textarea id="unit_description" name="short_name" required><%= data.short_name %></textarea>
        <br><br>
        
        <button type="submit">Update Unit</button>
    </form>
</body>
<script src="/editunit.js"></script>
</html>
