<style>
  #error_message_box {
    position: absolute;
    background: gray;
    z-index: 7;
    width: 25rem;
    height: 5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 0;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #error_message_box h2 {
    color: red;
  }
</style>
<div id="error_message_box">
  <h2 id="err_message"></h2>
</div>
