
<style>
    #messagebox{
    position: absolute;
    background: gray;
    z-index: 7;
    width: 25rem;
    height: 5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 0;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
#message{
    color: rgb(0, 255, 0);
}


</style>
<div id="messagebox">
  <h2 id="message"></h2>
</div>
