<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="unit_form">
        <label for="name">name</label>
        <input type="text" name="unit_name" id="name">
        <label for="short_name">short name</label>
        <input type="text" name="short_name" id="short_name">
        <button type="submit">create</button>
    </form>
</body>
<script src="/unit.js"></script>
</html>